body {
font-family: 'Trebuchet MS', sans-serif;
	background: url(images/bg.jpg);
	font-size: 18px;
	color:#ffffff;
	}
	
p.cent{
text-align:center;
}
p.top_cent{
text-align:center;
margin-top:70px;
}
p.data{
font-size:12px;
color: #9D9D9D;
float:right;
}
p.right_align{
text-align:right;
}
/* p.map{
color: #9D9D9D;
}
p.map:hover{
color: #529DAD;
text-shadow: 0px 0px 20px #ffffff;
}
p.map:click{
background: url(images/2.jpg);
  width: 290px;
  height:150px;
  z-index:100; */

h1,h2,h3,h4{
color: #529DAD;
}
a {
text-decoration:none;
color: #9D9D9D;
}
a:hover {
color: #529DAD;
text-shadow: 0px 0px 20px #ffffff;
}
img{
border-radius: 15px;
box-shadow: 0px 0px 40px 10px #444444;
padding:2px;
}
ul{
	list-style: none;	
}

INPUT[type="text"],textarea{
background-color:inherit;
color:#529DAD;
border-style:none;
border-radius:4px;
box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.05), inset 0px 3px 15px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(82, 157, 173,0.5);
resize:none;
margin:10px 0 5px;
outline: none;
}
INPUT{
height:25px;
width:155px;
text-align:center;
}
INPUT[type="submit"]{
color:#529DAD;
border-style:none;
border-radius:4px;
background-color:inherit;
box-shadow: inset 0px 0px 10px 2px #444444;
outline:none;
padding: 5px;
}
INPUT[type="submit"]:hover{
background-color:inherit;
box-shadow: inset 0px 0px 10px 2px #529DAD;
text-shadow: 0px 0px 20px #ffffff;
}
textarea{
height:100px;
width:350px;
}
#button{
border-radius: 15px;
	padding: 5px;
	box-shadow: inset 0px 0px 20px 5px #444444;

}
#wrapper {
position:relative;
	overflow: hidden;
	background: linear-gradient(to top, #444444, #060606, #444444);
	border-radius: 10px;
	width: 1100px;
	margin: 75px auto 0 auto;
	box-shadow: 0px 0px 40px 10px #444444;
	}
	
#logopic {
position: absolute;
	width: 100px;
	height: 75px;
	background: url(images/lg.png) no-repeat;
	background-size: 110%;
	margin: 27px 0 0 90px;
}
#logopic a{
display: block; 
height: 100%;
}
#logopic a:hover{
text-shadow: 0px 0px 20px #ffffff;
}
#logotext{
position: absolute;
margin: 55px 0 0 25px;
}
#logotext a {
	font-size: 50px;
	font-weight:bold;
	text-transform: uppercase;
	font-family: 'Courier New', sans-serif;
	}
#logotext a:hover {
	text-shadow: 0px 0px 20px #ffffff;
	}
	
#header {
position:relative;
	width: 1000px;
	height: 150px;
margin: 0 auto;
}

#menu{	
position:absolute;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.05), inset 0px 3px 15px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(82, 157, 173,0.5);
	border-radius: 5px;
	right: 40px;
	top: 40px;
	}
#menu ul {
	margin: 0;
	padding: 0;
}

#menu li {
	float: left;
	padding: 10px;
}

#menu a {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Courier New', sans-serif;
}

#menu a:hover{
	text-transform: uppercase;
	color: #529DAD;
	text-shadow: 0px 0px 20px #ffffff;
}
#menu ul li.active{
font-family: 'Courier New', sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	background: #529DAD;
	box-shadow: inset 0px 0px 40px 5px #61CCD1;
	border-radius: 5px;
	}
#main{
position:relative;
width: 1000px;
padding-bottom:50px;
margin:0 auto;
}
#wraptext{
	width: 950px;
	margin-top:50px;
	border-radius: 15px;
	padding: 30px;
	box-shadow: inset 0px 0px 40px 10px #444444;
}

#wrapside,#wrapsidecontacts{
	float: left;
	width: 300px;
	margin-bottom:50px;
} 
#wrapsidecontacts{
padding-left: 20px;
border-left: 1px solid  #529DAD;
}
#wrapsidecontacts ul{
margin-top:-40px;
}
#sidemenu{
	width: 300px;
	border-radius: 15px;
	padding: 30px;
	box-shadow: inset 0px 0px 40px 10px #444444;
	margin-bottom:30px;
}
#sidemenu ul {
	border-left: 1px solid  #529DAD;
	margin-left:10px;

}
#sidemenu a {
	text-transform: uppercase;
	font-family: 'Courier New', sans-serif;
	padding:0;
	margin-left:-20px;
	}
#sidenews{
	width: 300px;
	border-radius: 15px;
	padding: 30px;
	box-shadow: inset 0px 0px 40px 10px #444444;
}

#sidenews img{
float:left;
margin-right:20px;
}
#sidenews img:hover{
  width: 290px;
  height:150px;
  z-index:100;
}
#wrapleft{
	float: left;
	width: 650px;
	margin-top:20px;
} 
#wrapleft img{
padding-bottom:-200px;
}
#wrapright{
	float: right;
	width: 650px;
	margin:20px 0 40px 0;
} 
#wrapright img{
float:right;
}
#boxright{
margin:170px 0 40px 170px;
	border-radius: 15px;
	padding: 30px;
	box-shadow: inset 0px 0px 40px 10px #444444;
}
#boxleft{
margin:170px 170px 40px 0;
	border-radius: 15px;
	padding: 30px;
	box-shadow: inset 0px 0px 40px 10px #444444;
}
#wrapabout{
	margin:50px 0 50px 400px;
	border-radius: 15px;
	padding: 30px;
	box-shadow: inset 0px 0px 40px 10px #444444;
}
hr {
    border: none;
    color: #529DAD;
    background-color: #529DAD;
    height: 1px;
   }
/* #col1 {
	float: left;
	width: 290px;
	margin-right: 30px;
	display: block;
    left: 0;
    margin-top: 40px;
}
#col2 {
	width: 290px;
	display: block;
    right: 300px;
    margin-top: 40px;
}
#col3 {
	float: right;
	width: 290px;
	display: block;
    right: 0;
    margin-top: 40px;
} */
#footer{
margin: 0 auto;
width: 800px;
height:150px;
}
#footer p{
text-align:center;
}

